/* * {
  outline:solid 1px red;
} */
.tooltip {
    position: absolute;
    width: 170px;
    height: 70px;
    padding: 5px;
    padding-top: 8px;
    font: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 5px;
  }
  
  .axisText {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    fill: #0000ff;
    text-anchor: middle;
  }

  .stateAbbr {
    font-size: 10px;
    color:red;
    position: relative;
  }